html, body{
	scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
section{
	position: relative;
	width: 100%;
	background-size: cover;
	z-index: 1;
}
/*** Intro Section ***/
.intro{
	height: 100vh;
	overflow: hidden;
	background-image: url(img/bg1.jpg);
	background-attachment: fixed;
}
.logo{
	height: auto;
	max-height: 200px;
}
/*** Order section ***/
.order{
	height: auto;
	min-height: 100vh;
	background-image: url(img/bg2.jpg);
	background-attachment: fixed;
}
/*** Complete order section ***/
.complete-order{
	height: auto;
	min-height: 100vh;
	background-image: url(img/bg3.jpg);
	background-attachment: fixed;
}
/*** Complete order section ***/
.delivery{
	height: auto;
	min-height: 100vh;
	background-image: url(img/bg4.jpg);
	background-attachment: fixed;
}
.completed{
	height: auto;
	min-height: 100vh;
	background-image: url(img/bg1.jpg);
	background-attachment: fixed;
}
/** Common Classes **/
.heading{
	font-family: 'Righteous', cursive;
	font-style: italic;
	font-size: calc(100% + 30px);
}
.small-text{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: calc(100% + 10px);
}
.yellowish{
	color: #f6d365 !important;
}
.pink{
	color: #fda085 !important
}
.center-left{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
.center-center{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.p-btn{
	border: 1px solid #f6d365;
	background: rgba(0,0,0,0.5);
	color: #f6d365;
	padding: 5px;
	transition: 0.6s;
}
.p-btn:hover{
	border: 1px solid #f6d365;
	background: #f6d365;
	color: black;
}
.text-area{
	height: auto;
	min-height: 100vh;
	position: absolute;
	width: 100%;
	color: white;
	z-index: 3;
}
.overlay{
	height: auto;
	min-height: 100vh;
	position: relative;
	background: rgba(0,0,0,0.8);
	z-index: 2;
}
.options{
	text-align: center;
}
.selector{
	width: auto;
	min-width: 50%;
	height: 8vh;
	background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.selector:focus{
	background: #fda085;
}
/*
  ##Device = Desktops
*/

@media (min-width: 1281px) {

}

/*
##Device = Laptops, Desktops
*/

@media (min-width: 1025px) and (max-width: 1280px) {

}

/*
##Device = Tablets, Ipads (portrait)
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
}

/*
##Device = Tablets, Ipads (landscape)
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
 
}

/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
*/

@media (min-width: 481px) and (max-width: 767px) {
  .logo{
  	display: none;
  }
}

/*
##Device = Most of the Smartphones Mobiles (Portrait)
*/

@media (max-width: 480px) {
  .logo{
  	display: none;
  }
}